variables:
  SCHEDULER_PARAMETERS: '-Aslai -N1'
  CUSTOM_CI_BUILDS_DIR: /p/scratch/cslai

stages:
  - build
  - test
  - coverage
  - upload

.default_source_changes: &only_source_changes
  rules:
    - changes:
        - Impl/**/*.{c,cc,cpp,h,hpp,cu,cuh,inc}
        - algorithm/**/*.{c,cc,cpp,h,hpp,cu,cuh,inc}
        - grid/**/*.{c,cc,cpp,h,hpp,cu,cuh,inc}
        - external/**/*.{c,cc,cpp,h,hpp,cu,cuh,inc}
        - linalg/**/*.{c,cc,cpp,h,hpp,cu,cuh,inc}
        - tests/**/*.{c,cc,cpp,h,hpp,cu,cuh,inc}
        - CMakeLists.txt
        - cmake/**/*.{cmake}
        - .gitlab-ci.yml
    - when: never

build_cpu:
  stage: build
  tags: [ public-docker ]
  image:
    name: xinzhewu/hpc-gcc12-openmpi5-openblas-scalapack
  <<: *only_source_changes
  script:
    - cmake --version
    - mkdir -p build_cpu
    - cd build_cpu
    - env CFLAGS="$CFLAGS --coverage" CXXFLAGS="$CXXFLAGS --coverage" FFLAGS="$FFLAGS --coverage" cmake -DCMAKE_C_COMPILER=mpicc -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_Fortran_COMPILER=mpifort -DCHASE_ENABLE_MIXED_PRECISION=ON -DCHASE_ENABLE_TESTS=ON -DMPI_RUN_ARGS="--allow-run-as-root" .. -DCMAKE_EXE_LINKER_FLAGS="-lgfortran -Wl,--copy-dt-needed-entries --coverage"
    - make VERBOSE=1 -j4
  artifacts:
    paths:
      - build_cpu/Makefile
      - build_cpu/CTestTestfile.cmake
      - build_cpu/tests
    expire_in: 1 week

test_cpu:
  stage: test
  dependencies:
    - build_cpu
  tags: [ public-docker ]
  image:
    name: xinzhewu/hpc-gcc12-openmpi5-openblas-scalapack
  <<: *only_source_changes
  script:
    - cd build_cpu
    - CTEST_OUTPUT_ON_FAILURE=1 make test
    - rm -rf _deps
  artifacts:
    paths:
      - build_cpu/*
    expire_in: 1 week

build_gpu:
  stage: build
  tags:
    - juwels_booster
    - jacamar
    - login
    - shell
  id_tokens:
    SITE_ID_TOKEN:
      aud: https://gitlab.jsc.fz-juelich.de
  <<: *only_source_changes
  script:
    - echo $SYSTEMNAME
    - module load Stages/2025 GCC/13.3.0 OpenMPI imkl CMake CUDA
    - cmake --version
    - mkdir -p build_gpu
    - cd build_gpu
    - env CFLAGS="$CFLAGS --coverage" CXXFLAGS="$CXXFLAGS --coverage" FFLAGS="$FFLAGS --coverage" cmake -DCMAKE_C_COMPILER=mpicc -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_Fortran_COMPILER=mpifort -DCHASE_ENABLE_MIXED_PRECISION=ON -DCHASE_ENABLE_TESTS=ON -DMPI_RUN="srun" -DCMAKE_BUILD_TYPE=Release .. -DCMAKE_EXE_LINKER_FLAGS="--coverage"
    - make VERBOSE=1 -j8
  artifacts:
    paths:
      - build_gpu/Makefile
      - build_gpu/CTestTestfile.cmake
      - build_gpu/tests
    expire_in: 1 week

test_gpu:
  stage: test
  dependencies:
    - build_gpu
  tags:
    - juwels_booster
    - jacamar
    - compute
    - slurm
  id_tokens:
    SITE_ID_TOKEN:
      aud: https://gitlab.jsc.fz-juelich.de
  <<: *only_source_changes
  script:
    - echo $SYSTEMNAME
    - module load Stages/2025 GCC/13.3.0 OpenMPI imkl CMake CUDA
    - export CUDA_VISIBLE_DEVICES=0,1,2,3
    - cd build_gpu
    - CTEST_OUTPUT_ON_FAILURE=1 make test
    - rm -rf _deps
  artifacts:
    paths:
      - build_gpu/*
    expire_in: 1 week

coverage_generate:
  stage: coverage
  coverage: '/lines......: (\d+[.]\d+)/'
  dependencies:
    - test_gpu
  tags: [ public-docker ]
  image:
    name: xinzhewu/lcov-gcc13.3.0
  <<: *only_source_changes
  script:
    # Ignore gcov errors (e.g. stamp mismatch when artifacts from different runner)
    - lcov --capture --directory ./build_gpu --output-file coverage.info --ignore-errors gcov

    # Extract coverage number
    - |
      COV=$(lcov --summary coverage.info | grep -oP 'lines.*: \K\d+\.\d+')
      echo "Total coverage = ${COV}%"

    # Choose badge color
    - |
      if (( $(echo "$COV < 70" | bc -l) )); then COLOR=red
      elif (( $(echo "$COV < 85" | bc -l) )); then COLOR=yellow
      else COLOR=brightgreen
      fi

    # Create Shields-compatible JSON
    - |
      mkdir -p coverage
      cat <<EOF > coverage/coverage.json
      {
        "schemaVersion": 1,
        "label": "coverage (master)",
        "message": "${COV}%",
        "color": "${COLOR}"
      }
      EOF
  artifacts:
    paths:
      - coverage/coverage.json
    expire_in: 1 week

coverage_upload:
  stage: upload
  dependencies:
    - coverage_generate
  tags:
    - juwels_booster
    - jacamar
    - login
    - shell
  id_tokens:
    SITE_ID_TOKEN:
      aud: https://gitlab.jsc.fz-juelich.de
  <<: *only_source_changes
  script:
    - set -e
    - echo "Uploading coverage badge"

    - git config --global user.name "ChASE Bot"
    - git config --global user.email "chase@fz-juelich.de"

    - git clone https://oauth2:${BADGE_PUSH_TOKEN}@gitlab.jsc.fz-juelich.de/wu7/chase-coverage-badges.git badge_repo
    - cd badge_repo

    - mkdir -p coverage
    - cp ../coverage/coverage.json coverage/coverage.json

    - git add coverage/coverage.json
    - |
      if git diff --cached --quiet; then
        echo "Coverage unchanged, nothing to push"
        exit 0
      fi

    - git commit -m "Update ChASE coverage badge"
    - git push origin main
